# node modules
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Expo
.expo/
.expo-shared/

# Environment Variables
.env

# IDE/editor settings
.vscode/
.idea/

# Mac system files
.DS_Store

# Tests outputs
coverage/
